---
Description: Production2
AWSTemplateFormatVersion: '2010-09-09'
Parameters:
  dockerTag:
    Type: String
    Description: Docker tag to deploy
  appRoot:
    Type: String
    Description: app root
  proxyRoot:
    Type: String
    Description: proxy root
  databaseHost:
    Type: String
    Description: Database host
  databaseName:
    Type: String
    Description: Database name
  databaseUserId:
    Type: String
    Description: Database user id
  databasePassword:
    Type: String
    Description: Database password
  rabbitServer:
    Type: String
    Description: Rabbit server
  rabbitPort:
    Type: Number
    Description: Rabbit port
  rabbitUsername:
    Type: String
    Description: Rabbit username
  rabbitPassword:
    Type: String
    Description: Rabbit password
  pdfServiceRoot:
    Type: String
    Description: Pdf Service API root url
  environmentSuffix:
    Type: String
    AllowedValues:
      - ''
      - -int
      - -sys
    Description: Environment suffix e.g -int -sys
  TestClusterName:
    Type: AWS::SSM::Parameter::Value<String>
    Description: Name of test cluster
    Default: TestClusterName
  ProductionClusterName:
    Type: AWS::SSM::Parameter::Value<String>
    Description: Name of production cluster
    Default: ProductionClusterName
  cognitoHost:
    Type: String
    Description: Cognito host
  cognitoClientId:
    Type: String
    Description: Cognito client ID
  cognitoDomainPrefix:
    Type: String
    Description: Cognito domain prefix
  entraLogoutUri:
    Type: String
    Description: Entra logout URI

Conditions:
  isTesting: !Or
    - !Equals [!Ref environmentSuffix, "-int"]
    - !Equals [!Ref environmentSuffix, "-sys"]

Resources:
  Production2StackLogGroup:
    Type: AWS::Logs::LogGroup
    DeletionPolicy: Delete
    Properties:
      RetentionInDays: 14
  production2Role:
    Type: AWS::IAM::Role
    Properties:
      Tags:
        - Key: "Project"
          Value: "production2"
        - Key: "CIT"
          Value: "IT"
        - Key: AppManagerCFNStackKey
          Value: !Sub ${AWS::StackId}
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service: ["ecs-tasks.amazonaws.com"]
            Action: ["sts:AssumeRole"]
      Path: "/"
      Policies:
        - PolicyName: production2Services
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - ses:SendEmail
                  - ses:SendRawEmail
                Resource: '*'
        - PolicyName: kms
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - 'kms:Encrypt'
                  - 'kms:Decrypt'
                Resource: "*"
        - PolicyName: s3Policy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - s3:*
                Resource: !Sub "arn:aws:s3:::auth${environmentSuffix}*-keysbucket*"
  production2TaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Tags:
        - Key: "Project"
          Value: "production2"
        - Key: "CIT"
          Value: "IT"
        - Key: AppManagerCFNStackKey
          Value: !Sub ${AWS::StackId}
      TaskRoleArn: !GetAtt production2Role.Arn
      ContainerDefinitions:
        - Name: production2
          Cpu: '1'
          Essential: 'true'
          Image: !Sub docker.io/linn/production2:${dockerTag}
          PortMappings:
            - ContainerPort: 5050
          Memory: 500
          HealthCheck:
            Command:
              - "CMD-SHELL"
              - "curl -f http://localhost:5050/healthcheck || exit 1"
          DockerLabels:
            traefik.enable: true
            traefik.http.routers.production2.entrypoints: web
            traefik.http.routers.production2.rule: "PathPrefix(`/production2`)"
            traefik.http.services.production2.loadbalancer.healthcheck.path: "/healthcheck"
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-region: !Ref AWS::Region
              awslogs-group: !Ref Production2StackLogGroup
              awslogs-stream-prefix: !Ref AWS::StackName
          Environment:
            - Name: DATABASE_HOST
              Value: !Ref databaseHost
            - Name: DATABASE_NAME
              Value: !Ref databaseName
            - Name: DATABASE_USER_ID
              Value: !Ref databaseUserId
            - Name: DATABASE_PASSWORD
              Value: !Ref databasePassword
            - Name: RABBIT_SERVER
              Value: !Ref rabbitServer
            - Name: RABBIT_PORT
              Value: !Ref rabbitPort
            - Name: RABBIT_USERNAME
              Value: !Ref rabbitUsername
            - Name: RABBIT_PASSWORD
              Value: !Ref rabbitPassword
            - Name: APP_ROOT
              Value: !Ref appRoot
            - Name: PROXY_ROOT
              Value: !Ref proxyRoot
            - Name: BUILD_NUMBER
              Value: !Ref dockerTag
            - Name: LOG_AMAZON_SQSQUEUEURI
              Value: !ImportValue logging-queue-url
            - Name: PDF_SERVICE_ROOT
              Value: !Ref pdfServiceRoot
            - Name: awsRegion
              Value: !Ref AWS::Region
            - Name: KEYS_BUCKET_NAME
              Value:
                Fn::ImportValue:
                  !Sub "linn-keys-bucket${environmentSuffix}"
            - Name: KMS_KEY_ALIAS
              Value:
                Fn::ImportValue:
                  !Sub "kms-key-alias${environmentSuffix}"
            - Name: COGNITO_HOST
              Value: !Ref cognitoHost
            - Name: COGNITO_CLIENT_ID
              Value: !Ref cognitoClientId
            - Name: COGNITO_DOMAIN_PREFIX
              Value: !Ref cognitoDomainPrefix
            - Name: ENTRA_LOGOUT_URI
              Value: !Ref entraLogoutUri
  production2Service:
    Type: AWS::ECS::Service
    Properties:
      Tags:
        - Key: "Project"
          Value: "production2"
        - Key: "CIT"
          Value: "IT"
        - Key: AppManagerCFNStackKey
          Value: !Sub ${AWS::StackId}
      # Have to use long form conditional
      Cluster: !If
        - isTesting
        - !Sub ${TestClusterName}
        - !Sub ${ProductionClusterName}
      DesiredCount: !If [isTesting, 1, 2]
      PlacementStrategies:
        - Field: attribute:ecs.availability-zone
          Type: spread
        - Field: instanceId
          Type: spread
      TaskDefinition: !Ref production2TaskDefinition
